name: pictidy
description: PicTidy is a simple and efficient desktop tool designed to help you clean and organize your photos.
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  intl: ^0.20.2
  cupertino_icons: ^1.0.6
  file_picker: ^8.1.2
  image: ^4.1.3
  video_player: ^2.8.1
  path_provider: ^2.1.1
  path: ^1.8.3
  shared_preferences: ^2.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
  generate: true
